.EnvironmentList {
    display: flex;
    flex-direction: row;
    width: 800px;
    border-bottom: 1px lightgrey solid;
}

.EnvironmentList:hover {
    border-bottom: 1px gray solid;
}

.title {
    font-size: 20px;
    padding: 5px 10px;
    background-color: whitesmoke;
    width: 200px;
    text-align: left;
    margin: 5px;
    margin-right: 150px;

}

.menu {
    padding: 5px 10px;
    background-color: lightgray;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu:hover {
    cursor: pointer;
    font-weight: bold;
}

.menu:active {
    background-color: lightgrey;
}

