.expMainBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.expProgress {
    height: 25px;
    font-weight: bold;
}

.expStatusBtnsBox {
    width: 330px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

.expStatusBtnsContainer {
    margin-bottom: 30px;
}

.expButton {
    display: flex;
    width: 100px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 12px;
    outline: 0 !important;
}

.expButton:hover {
    cursor: pointer;
    font-weight: bold;
}

.wallBtn {
    background-color: #8c96ff;
}

.activeWall {
    background-color: #4050ff;
    font-weight: bold;
    color: whitesmoke;
}

.foodBtn {
    background-color: #ffd47f;
}

.activeFood {
    background-color: orange;
    font-weight: bold;
    color: whitesmoke;
}

.fakeFoodBtn {
    background-color: #d599ff;
}

.activeFakeFood {
    background-color: #a3f;
    font-weight: bold;
    color: whitesmoke;
}

.entryBtn {
    background-color: #7fd977;
}

.activeEntry {
    background-color: #0ea600;
    font-weight: bold;
    color: whitesmoke;
}

.exitBtn {
    background-color: #d9f5ff;
}

.activeExit {
    background-color: lightblue;
    font-weight: bold;
    color: whitesmoke;
}

.pedalBtn {
    background-color: #fffef7;
}

.activePedal {
    background-color: lemonchiffon;
    font-weight: bold;
}

.startBtnsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
}

.expStartButton {
    display: flex;
    width: 152px;
    height: 40px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    font-size: 16px;
    outline: 0 !important;
}

.expStartButton:hover {
    cursor: pointer;
    font-weight: bold;
}

.expStartButton:active {
    background-color: grey;
}

.expTimer {
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.expTimerInt {
    font-family: 'Armata', sans-serif;
    width: 70px;
    font-weight: bold;
    font-size: 20px;
}

.expInputBox {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 20px;
}

.expInputs {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}

.expTypeDescription {
    margin-left: 30px;
    width: 400px;
}

.expInputTitle {
    margin-bottom: 8px;
}

.expInput {
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 250px;
    background-color: whitesmoke;
    border: 0;
    margin: 0 5px;
    outline: 0 !important;
}
.expInput:focus {
    background-color: white;
    border-bottom: black 1px solid;
}

.expSelector {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: whitesmoke;
    border: 0px;
}
