.container {
    padding: 0 50px;
    padding-bottom: 30px;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

p {
    text-indent: 20px;
}

table {
    border: black 1px solid;
    width: 100%;
    font-weight: normal;
    font-size: 16px;
}

tr {
    border: black 1px solid;
}

td {
    border: black 1px solid;
    padding: 5px;
    text-align: left;
}
