

.Header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.LayoutRes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Option {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    margin-bottom: 5px;
}

.Option:hover {
    cursor: pointer;
    font-weight: bold;
}

.Option:active {
    background-color: gray;
}

.resOptionBox {
    width: 330px;
    display: flex;
    justify-content: space-around;
}

.selector {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0px;
}

.resTableDiv {
    margin-top: 30px;
}

.topInput {
    font-family: 'Montserrat', sans-serif;
    width: 430px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0;
    margin: 0 5px;
    outline: 0 !important;
}

.resTable {
    border: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.resTableHead {
    display: flex;
    flex-direction: row;
}

.resTd {
    border: 0;
    text-align: center;
    max-width: 240px;
}

.button {
    display: flex;
    width: 170px;
    height: 25px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: grey;
}

.logo {
    margin-top: 30px;
}

.resResultBox {
    margin: auto;
}

.resResult {
    display: flex;
    flex-direction: row;
    width: 950px;
    margin: 10px auto;
    border-bottom: lightgray 1px solid;
}

.resResult:hover {
    border-bottom: black 1px solid;
}

.resDate {
    width: 90px;
    text-align: center;
}

.resType {
    width: 60px;
    text-align: center;
}

.resUser{
    width: 120px;
    text-align: center;
}

.resName {
    width: 180px;
    text-align: center;
}

.resNumber {
    width: 60px;
    text-align: center;
}

.resAnimal {
    width: 100px;
    text-align: center;
}
