.Results {
    padding-top: 20px;
}

.Results {
    /*border: 1px solid black;*/
}

.Results th {
    background-color: darkgray;
    border: 1px solid black;
}

.Results td {
    border: 1px solid black;
    text-align: center;
    margin: 0;
}

.Header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.LayoutRes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Option {

}

.Option.enable:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.Option.disable {
    background-color: darkgray;
}

.selector {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0px;
}

.topInput {
    font-family: 'Montserrat', sans-serif;
    width: 430px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0;
    margin: 0 5px;
    outline: 0 !important;
}

.button {
    display: flex;
    width: 170px;
    height: 25px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}