.Results {

}

.Results th {
   background-color: darkgray;
    border: 1px solid black;
}

.Results td {
    border: 1px solid black;
    text-align: center;
    margin: 0;
}

.Results tr:hover {
    background-color: lightgrey;
}