.board {
    text-align: center;
}

.board span {
    display: inline-block;
}

.inputText {
    width: 40px;
    height: 40px;
}

.comp {
    text-align: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.wall {
    background-color: blue;
    color: white;
}

.food {
    background-color: orange;
    color: black;
}

.fakeFood {
    background-color: violet;
    color: black;
}

.entry {
    background-color: green;
    color: black;
}

.exit {
    background-color: lightblue;
    color: black;
}

.pedal {
    background-color: lemonchiffon;
    color: black;
}
.lamp {
    background-color: purple;
    color: white;
}

.sound {
    background-color: red;
    color: black;
}

b {
    display: flex;
    justify-content: center;
    align-items: center;
}
