.Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
 background-color: #DADADA;
}

.Layout main {
  max-width: 1000px;
  min-width: 800px;
  min-height: 90%;
  min-width: 90%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #F5F5F5;
}