.container {
    padding: 0 50px;
    font-family: 'Montserrat', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
}

.btnContainer {
    display: flex;
    flex-direction: column;
}

.button {
    width: 280px;
    height: 25px;
    background-color: lightgray;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.button:hover {
    cursor: pointer;
    font-weight: bold;
}

.input {
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0;
    margin: 0 5px;
    outline: 0 !important;
}

.selector {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
    border: 0px;
}

.text {
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
}

.textEdit {
    font-size: 20px;
    padding: 0 10px;
    font-weight: bold;
    background-color: white;
}

.attribute {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.studentBox {
    display: flex;
    flex-direction: column;
}
